/* 

CSS DOCUMENT
------------
Author: Sahibjot Saggu
Date: August 26, 2014
Filename: commercial.css

 */

body {
	background: #EEE;
}

#content {
	position: absolute;
	top: 250px;
	width: 100%;
	height: calc(100% - 250px);
}

#content video {
	position: absolute;
	top: 50px;
	left: 25%;
	width: 50%;
}