 /* 

CSS DOCUMENT
------------
Author: Sahibjot Saggu
Date: August 25, 2014
Filename: contact_style.css

 */

@font-face {
	font-family: Helvetica;
	src: url("HelveticaNeue-Thin.otf");
}

#contact_banner {
	position: absolute;
	top: 40px;
	left: calc(50% - 462.5px);
	width: 925px;
	height: 200px;
	background: url("contact_banner.jpg");
	background-size: cover;
	font-family: Helvetica;
	font-size: 80px;
	text-align: center;
	line-height: 200px;
	color: #FFF;
}

#content {
	position: absolute;
	top: 240px;
	left: calc(50% - 462.5px);
	width: 925px;
	height: 600px;
}

#address {
	position: absolute;
	top: 0px;
	left: 0px;
	width: 300px;
	height: 100%;
}

#address #address_title {
	position: absolute;
	top: 0px;
	left: 0px;
	width: 100%;
	height: 30px;
	text-align: center;
	line-height: 30px;
	font-family: Arial;
	font-size: 16px;
	color: #FFF;
	background: #222;
}

#address #add {
	position: absolute;
	top: 30px;
	left: 0px;
	width: 100%;
	height: 100px;
	background: #EEE;
}

#address p {
	margin: 10px;
	font-family: Arial;
	font-size: 14px;
}

#address #hours {
	position: absolute;
	top: 130px;
	left: 0px;
	width: 100%;
	height: 30px;
	text-align: center;
	line-height: 30px;
	font-family: Arial;
	font-size: 16px;
	color: #FFF;
	background: #222;
}

#address #opening_hours {
	position: absolute;
	top: 160px;
	left: 0px;
	width: 100%;
	height: auto;
	background: #EEE;
}

#address #opening_hours span.time {
	color: gray;
}

#map {
	position: absolute;
	top: 0px;
	right: 0px;
	width: 625px;
	height: 100%;
}

#google_map {
	position: absolute;
	top: 0px;
	left: 0px;
	width: 100%;
	height: 500px;
	border: 0;
}