/* 

CSS DOCUMENT
------------
Author: Sahibjot Saggu
Date: August 25, 2014
Filename: style.css

 */

* {
	margin: 0px;
	padding: 0px;
}

body {
	background: #FFF;
}

ul#navigation, ul.sub {
	position: fixed;
	top: 25px;
	left: 20%;
	margin: 0px;
	padding: 0px;
	width: 60%;
	height: 40px;
	background: #222;
	list-style-type: none;
	font-size: 16px;
	z-index: 2;
	border-radius: 3px;
}

ul#navigation li {
	width: 120px;
	position: relative;
	float: left;
}

ul#navigation a {
	text-decoration: none;
	display: block;
	width: 120px;
	height: 40px;
	line-height: 40px;	
	text-align: center;
	background: #222;
	color: gray;
	font-family: Arial;
	font-size: 14px;
	padding-left: 10px;
	padding-right: 10px;
}

ul#navigation li#first {
	width: 160px;
}

ul#navigation a#first {
	border-radius: 3px 0px 0px 3px;
	font-size: 18px;
	font-weight: bold;
	width: 160px;
	color: #FFF;
}

ul#navigation li:hover > a {
	color: #FFF;
}

ul#navigation ul.sub {
	display: none;
	position: absolute;
	top: 40px;
	left: 0px;
}

ul#navigation li:hover ul.sub {
	display: block;
}	

ul#navigation ul.sub li a {
	height: 30px;
	line-height: 30px;
}


#left_arrow {
	position: fixed;
	top: 0px;
	left: 0px;
	width: 150px;
	height: 70%;
	background: transparent url("left_arrow.png") no-repeat center center;
	background-size: 70%;
	cursor: pointer;
	z-index: 2;
}

#right_arrow {
	position: fixed;
	top: 0px;
	right: 0px;
	width: 150px;
	height: 70%;
	background: transparent url("right_arrow.png") no-repeat center center;
	background-size: 70%;
	cursor: pointer;
	z-index: 2;

}

#slideshow {
	position: absolute;
	top: 0%;
	left: 0%;
	width: 400%;
	height: 70%;
	border-bottom: 1px solid #CCC;
}

#pic1 {
	position: absolute;
	top: 0%;
	left: 0%;
	width: 25%;
	height: 100%;
	background: url("pic1.jpg") no-repeat center center;
	background-size: cover;
	text-align: center;
	color: #FFF;
	font-family: Arial;
	font-size: 80px;
	text-shadow: 0px 0px 3px #000;
}

#pic2 {
	position: absolute;
	top: 0%;
	left: 25%;
	width: 25%;
	height: 100%;
	background: url("pic2.jpg") no-repeat center center;
	background-size: cover;
	text-align: center;
	color: #FFF;
	font-family: Arial;
	font-size: 80px;
	text-shadow: 0px 0px 3px #000;
}